@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-blur:before {
  content: '';
  background-color: rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0;
  min-width: 100vw;
  min-height: 100vh;
  position: absolute;
  z-index: 10;
}
